$primary-color: rgb(61, 90, 35);
$secondary-color: rgb(216, 235, 199);
$text-color: rgb(30, 43, 17);

// Estilos para o formulário


.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
 
  h1 {
    font-size: 42px;
    margin-bottom: 42px;
  }
  
  form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;

    
    label {
      display: block;
      font-weight: bold;
      margin-top: 10px;
      color: $primary-color;
    }

    label[for="preco"],
    label[for="imagem"] {
        margin-top: 20px;
    }
    
    input[type="text"],
    input[type="number"],
    input[type="file"] {
      width: 100%;
      border: 1px solid $secondary-color;
      border-radius: 3px;
      margin-top: 5px;
      background-color: #fff;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 6px;
    }

    input[type="file"] {
        background: none;
    }

    .botao-cadastrar {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      margin-top: 15px;
      transition: background-color 0.3s;
      margin-top: 20px;
      
      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}