@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

$primary-color: rgb(61, 90, 35);
$secondary-color: rgb(216, 235, 199);
$text-color: rgb(30, 43, 17);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9fafa;
}

header {
    .frete {
        background-color: $secondary-color;
        padding: 8px 0;
        text-align: center;

        span {
            font-size: 14px;
            font-style: italic;
        }
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 25px 60px;
        border-bottom: solid 1px $primary-color;
        border-top: solid 1px $primary-color;

        .navigation {
            .logo {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: $primary-color;
                    img {
                      width: 40px;
                      height: 40px;
                    }
                   
                    h1 {
                      color: $primary-color;
                      font-weight: bolder;
                    }
                  }
            }

            display: flex;
            align-items: center;
            width: 70%;
            gap: 20px;

            ul {
                li {
                    display: inline;
                    margin: 0 25px;

                    a {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
            }
        }

        .ContainerLogin {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 42px;

            .userContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                .userIcon {
                    font-size: 32px;
                }
            }

            a {
                text-decoration: none;
                color: $primary-color;
            }

            .cart-container {
                display: flex;
                cursor: pointer;
                position: relative;
                .counter {
                    width: 20px;
                    height: 20px;
                    background-color: yellow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    border-radius: 50%;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    color: #000;
                    font-weight: bold;
                    font-size: 14px;
                }

                .cart {
                    font-size: 28px;
                } 
            }
        }
    }
}

main {
    max-width: 900px;
    margin: 42px auto;
    h2 {
        color: $primary-color;
        font-size: 32px;
    }
    p {
        color: $text-color;
        margin: 22px 0;
    }

    .containerProducts {
        display: grid;
        grid-template-columns: repeat(3, auto);
        .mimic {
            display: flex;
            gap: 12px;
            flex-direction: column;
            margin: 0 12px 42px 0;

            .img-container {
                height: 412px;
                width: 309px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
                position: relative;
                .cart-btn {
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $primary-color;
                    font-size: 18px;
                    cursor: pointer;
                    transition: ease 0.4s;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }

            span {
                color: $primary-color;
            }
        }
    }
}


footer {
    width: 100%;

    .ContainerContactInfo {
        display: flex;
        justify-content: space-around;
        border-top: solid 1px $primary-color;
        border-bottom: solid 1px $primary-color;
        padding: 28px 0;
        gap: 18px;

        ul {
            li {
                list-style: none;
                margin: 14px 0;
                color: $text-color;
                font-size: 12px;
            }
        }
    }

    .ContainerCopyrightInfo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 22px;
        padding: 28px 0 38px 0;
        background-color: rgb(226, 226, 242);

        .footerText {
            font-size: 12px;
            color: $primary-color;
        }

        .payment {
            display: flex;
            flex-direction: column;

            .footerText {
                margin-left: 12px;
            }
        }
    }
}


.cart-modal {
    position: fixed;
    top: 0;
    right: -400px; /* Começa fora da tela */
    width: 400px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: right 0.3s ease-in-out;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Exibe o modal */
  .cart-modal.active {
    right: 0;
  }

  .cart-items {
    margin-top: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  
  .item-details {
    display: flex;
    width: 100%;
    flex-direction: column;
        .item-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-container {
                display: flex;
                gap: 6px;
                    .control-btn {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    border: none;
                    border-radius: 3px;
                }
                    .add {
                        background-color: $primary-color;
                        color: #fff;
                    }

                    .remove {
                            background-color: rgb(211, 57, 57);
                            color: #fff;
                    }
            }
            
        }
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-price {
    color: #777;
  }
  
  /* Estilos do total e botão de finalizar compra */
  .cart-total-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-total {
    font-weight: bold;
    font-size: 18px;
}

.total-text {
    margin-right: 10px;
}

.total-amount {
    color: $primary-color;
}

.checkout-btn {
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: darken(rgb(0, 162, 255), 10%);
}