@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

$primary-color: rgb(61, 90, 35);
$secondary-color: rgb(216, 235, 199);
$text-color: rgb(30, 43, 17);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9fafa;
}

header {
    .frete {
        background-color: $secondary-color;
        padding: 8px 0;
        text-align: center;

        span {
            font-size: 14px;
            font-style: italic;
        }
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 25px 60px;
        border-bottom: solid 1px #000;
        border-top: solid 1px #000;

        .navigation {
            .logo {
                h1 {
                    color: $primary-color;
                    font-weight: bolder;
                    a {
                        text-decoration: none;
                        color: $primary-color;
                    }
                }
            }

            display: flex;
            align-items: center;
            width: 70%;
            gap: 20px;

            ul {
                li {
                    display: inline;
                    margin: 0 25px;

                    a {
                        text-decoration: none;
                        color: $text-color;
                    }
                }
            }
        }

        .ContainerLogin {
            a {
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}

main {
    max-width: 900px;
    margin: 42px auto;
    h2 {
        color: $primary-color;
        font-size: 32px;
    }
    p {
        color: $text-color;
        margin: 22px 0;
    }

    .containerProducts {
        display: grid;
        grid-template-columns: repeat(3, auto);
        .mimic {
            display: flex;
            gap: 12px;
            flex-direction: column;
            margin: 0 12px 42px 0;
            span {
                color: $primary-color;
            }
        }
    }
}


footer {
    width: 100%;

    .ContainerContactInfo {
        display: flex;
        justify-content: space-around;
        border-top: solid 1px $primary-color;
        border-bottom: solid 1px $primary-color;
        padding: 28px 0;
        gap: 18px;

        ul {
            li {
                list-style: none;
                margin: 14px 0;
                color: $text-color;
                font-size: 12px;
            }
        }
    }

    .ContainerCopyrightInfo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 22px;
        padding: 28px 0 38px 0;
        background-color: rgb(226, 226, 242);

        .footerText {
            font-size: 12px;
            color: $primary-color;
        }

        .payment {
            display: flex;
            flex-direction: column;

            .footerText {
                margin-left: 12px;
            }
        }
    }
}