@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Syne", Arial, Helvetica, sans-serif;
}

body {
  background-color: #f9fafa;
}

header .frete {
  background-color: #d8ebc7;
  padding: 8px 0;
  text-align: center;
}
header .frete span {
  font-size: 14px;
  font-style: italic;
}
header .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 25px 60px;
  border-bottom: solid 1px #3d5a23;
  border-top: solid 1px #3d5a23;
}
header .header .navigation {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 20px;
}
header .header .navigation .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #3d5a23;
}
header .header .navigation .logo a img {
  width: 40px;
  height: 40px;
}
header .header .navigation .logo a h1 {
  color: #3d5a23;
  font-weight: bolder;
}
header .header .navigation ul li {
  display: inline;
  margin: 0 25px;
}
header .header .navigation ul li a {
  text-decoration: none;
  color: #1e2b11;
}
header .header .ContainerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
}
header .header .ContainerLogin .userContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
header .header .ContainerLogin .userContainer .userIcon {
  font-size: 32px;
}
header .header .ContainerLogin a {
  text-decoration: none;
  color: #3d5a23;
}
header .header .ContainerLogin .cart-container {
  display: flex;
  cursor: pointer;
  position: relative;
}
header .header .ContainerLogin .cart-container .counter {
  width: 20px;
  height: 20px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #000;
  font-weight: bold;
}
header .header .ContainerLogin .cart-container .cart {
  font-size: 28px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 1200px) {
  main {
    max-width: 100%;
    padding: 28px 0;
    gap: 20px;
  }
}
main .ContainerDescription {
  width: 40%;
}
main .ContainerDescription h2 {
  font-size: 52px;
  color: #3d5a23;
}
@media screen and (max-width: 1200px) {
  main .ContainerDescription h2 {
    font-size: 36px;
  }
}
main .ContainerDescription .subtitle {
  margin: 32px 0;
  font-size: 22px;
  color: #1e2b11;
}
@media screen and (max-width: 1200px) {
  main .ContainerDescription .subtitle {
    font-size: 18px;
  }
}
main .ContainerDescription .btn {
  width: 160px;
  height: 48px;
  background-color: #3d5a23;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  transition: ease 0.4s;
  border: solid 1px #3d5a23;
  cursor: pointer;
  text-decoration: none;
}
main .ContainerDescription .btn:hover {
  color: #3d5a23;
  border: solid 1px #3d5a23;
  background: none;
}
@media screen and (max-width: 1200px) {
  main .ContainerDescription .btn {
    width: 140px;
    height: 38px;
  }
}
@media screen and (max-width: 1200px) {
  main .ContainerImage img {
    width: 320px;
  }
}

footer {
  width: 100%;
}
footer .ContainerContactInfo {
  display: flex;
  justify-content: space-around;
  border-top: solid 1px #3d5a23;
  border-bottom: solid 1px #3d5a23;
  padding: 28px 0;
  gap: 18px;
}
footer .ContainerContactInfo ul li {
  list-style: none;
  margin: 14px 0;
  color: #1e2b11;
  font-size: 12px;
}
footer .ContainerCopyrightInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 22px;
  padding: 28px 0 38px 0;
  background-color: #e2e2f2;
}
footer .ContainerCopyrightInfo .footerText {
  font-size: 12px;
  color: #3d5a23;
}
footer .ContainerCopyrightInfo .payment {
  display: flex;
  flex-direction: column;
}
footer .ContainerCopyrightInfo .payment .footerText {
  margin-left: 12px;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: -400px;
  /* Começa fora da tela */
  width: 400px;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}

.modal-content {
  padding: 20px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Exibe o modal */
.cart-modal.active {
  right: 0;
}

.cart-items {
  margin-top: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-weight: bold;
}

.item-price {
  color: #777;
}

/* Estilos do total e botão de finalizar compra */
.cart-total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
}

.checkout-btn {
  display: block;
  margin-top: 20px;
  background-color: #3d5a23;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #243515;
}

/*# sourceMappingURL=style.css.map */
